################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/SampleApplication/obj
/bin/Debug/net9.0-windows
/ChartApp/bin/Debug/net9.0-windows
/ChartApp/obj
/SampleApplication/bin/Debug/net9.0-windows
